@using KarcagS.Shared.Helpers
@using Papyrus.Shared.DTOs.Groups
@inject IStringLocalizer<GroupListTile> L


<MudCard Elevation="2">
    <div class="tile-content p-2 @(Group.IsClosed ? "closed" : "")">
        <MudText Typo="Typo.h6" Color="Color.Primary"><b>@Group.Name</b> @if (Group.IsClosed) { <small> - [@L["ClosedStatus"]]</small> }</MudText>
            <MudText Typo="Typo.body1">@Group.Owner</MudText>
        <MudSpacer />
        <div class="desc-row">
            <MudText Typo="Typo.body2">@L["Creation"]: @DateHelper.DateToString(Group.Creation)</MudText>
            <MudTooltip Text="@L["OpenGroupInfo"]">
                    <MudIconButton Size="Size.Small" Icon="@Icons.Material.Filled.OpenInBrowser" Color="Color.Primary" OnClick="Open" />
            </MudTooltip>
        </div>
    </div>
</MudCard>


@code {
    [Parameter, EditorRequired]
    public GroupListDTO Group { get; set; } = default!;

    [Inject]
    private NavigationManager NavigationManager { get; set; } = default!;

    private void Open()
    {
        NavigationManager.NavigateTo($"/groups/{Group.Id} ");
    }
}
