@using KarcagS.Blazor.Common.Services
@using KarcagS.Blazor.Common.Services.Interfaces
@using KarcagS.Shared.Helpers
@using KarcagS.Shared.Localization
@using Microsoft.AspNetCore.Components.Forms
@using System.IO
@using static KarcagS.Blazor.Common.Components.FileUploader.FileUploaderResult

<MudDialog>
    <TitleContent>
        <MudText Typo="Typo.h5" Color="Color.Primary">@Dialog.Title</MudText>
    </TitleContent>
    <DialogContent>
        <div class="text-center">
            <InputFile id="fileInput" OnChange="@FilesReady" hidden multipe="@Input.Multiple" accept="@ConstructAccept()" />
            <MudButton HtmlTag="label" Variant="Variant.Filled" Color="Color.Primary"
                       StartIcon="@Icons.Filled.CloudUpload" for="fileInput">@LocalizationService.GetValue(LibraryLocalizer.UploaderUploadKey, "Upload")</MudButton>
            @if (ObjectHelper.IsNotEmpty(Files))
            {
                <div style="margin-top: 1rem;">
                    @foreach (var file in Files)
                    {
                        <div style="margin-top: 0.2rem;">@file.Name - @file.ContentType</div>
                    }
                </div>
            }
        </div>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">@LocalizationService.GetValue(LibraryLocalizer.DialogCancelKey, "Cancel")</MudButton>
        <MudButton Color="Color.Primary" OnClick="Save">@LocalizationService.GetValue(LibraryLocalizer.DialogSaveKey, "Save")</MudButton>
    </DialogActions>
</MudDialog>

@code {

    [CascadingParameter]
    private MudDialogInstance Dialog { get; set; } = null!;

    [Parameter]
    public FileUploaderDialogInput Input { get; set; } = new();

    [Inject]
    private ISnackbar Snackbar { get; set; } = null!;

    [Inject]
    private ILocalizationService LocalizationService { get; set; } = default!;

    private List<IBrowserFile> Files { get; set; } = new();

    private long MAX_SIZE = 512000;

    private async void Save()
    {
        if (Input.Required && ObjectHelper.IsEmpty(Files))
        {
            return;
        }

        List<FileUploaderFile> files = new();

        foreach (var file in Files)
        {
            if (!Input.EnabledExtensions.Contains(file.ContentType))
            {
                Snackbar.Add(LocalizationService.GetValue(LibraryLocalizer.UploaderInvalidExtensionsKey, "Invalid file extension [{0}]. Please try again with a correct type. [{1}]", file.ContentType, file.Name), Severity.Error);
            }
            else if (file.Size > Input.MaxFileSize || file.Size > MAX_SIZE)
            {
                Snackbar.Add(LocalizationService.GetValue(LibraryLocalizer.UploaderInvalidSizeKey, "The file size [{0}] exceeds the maximum size [{1}]. Please use smaller files.", file.Size.ToString(), Input.MaxFileSize.ToString()), Severity.Error);
            }
            else
            {
                try
                {
                    await using var memoryStream = new MemoryStream();
                    await file.OpenReadStream().CopyToAsync(memoryStream);

                    var f = new FileUploaderFile
                        {
                            Name = file.Name,
                            Size = file.Size,
                            Extension = file.ContentType,
                            Content = memoryStream.ToArray()
                        };

                    files.Add(f);
                }
                catch (Exception e)
                {
                    Snackbar.Add(LocalizationService.GetValue(LibraryLocalizer.UploaderUploadingErrorKey, "Problem during the image uploading. Please try again later."), Severity.Error);
                    Console.WriteLine(e);
                }
            }

            if (await Input.ImageUpload(new FileUploaderResult { Files = files }))
            {
                Dialog.Close(DialogResult.Ok(true));
            }
        }
    }

    private string ConstructAccept() => string.Join(", ", Input.EnabledExtensions.Select(x => $".{x.Split("/")[1]}"));

    private void Cancel() => Dialog.Cancel();

    private void FilesReady(InputFileChangeEventArgs e)
    {
        if (Input.Multiple)
        {
            Files = e.GetMultipleFiles()
                .ToList()
                .Where(x => x.Size <= Input.MaxFileSize && x.Size <= MAX_SIZE)
                .Where(x => Input.EnabledExtensions.Contains(x.ContentType))
                .ToList();
        }
        else
        {
            var f = e.GetMultipleFiles().FirstOrDefault();

            if (ObjectHelper.IsNotNull(f))
            {
                if (!Input.EnabledExtensions.Contains(f.ContentType))
                {
                    Snackbar.Add(LocalizationService.GetValue(LibraryLocalizer.UploaderInvalidExtensionsKey, "Invalid file extension [{0}]. Please try again with a correct type. [{1}]", f.ContentType, f.Name), Severity.Error);
                }
                else if (f.Size > Input.MaxFileSize || f.Size > MAX_SIZE)
                {
                    Snackbar.Add(LocalizationService.GetValue(LibraryLocalizer.UploaderInvalidSizeKey, "The file size [{0} bytes] exceeds the maximum size [{1} bytes] for the file [{2}]. Please use smaller files.", f.Size.ToString(), Input.MaxFileSize.ToString(), f.Name), Severity.Error);
                }
                else
                {
                    Files = new List<IBrowserFile> { f };
                }
            }
        }
    }

}
