@using KarcagS.Shared.Helpers
@using Papyrus.Client.Services.Groups.Interfaces
@using Papyrus.Shared.DTOs.Groups
@using Papyrus.Shared.Models.Groups
@inject IStringLocalizer<GroupRoleEditDialog> L

<EditorDialog Model="GroupRoleModel" ModelObj="Model" Submit="Submit" Remove="Remove" EntityName="@L["Entity"]" IsEdit="IsEdit" FormValidator="ValidateForm">
    <MudTextField Class="mb-5" T="string" Label="@L["Field.Name"]" Variant="Variant.Text" Required="true"
                  For="@(() => Model.Name)" @bind-Value="Model.Name" FullWidth="true" />
    <MudDivider />
    <MudText Class="mt-1">@L["Group.Group"]</MudText>
    <div class="d-flex flex-row">
        <MudCheckBox Label="@L["Field.GroupEdit"]" For="@(() => Model.GroupEdit)" @bind-Checked="Model.GroupEdit" />
    </div>
    <MudDivider />
    <MudText Class="mt-1">@L["Group.Notes"]</MudText>
    <div class="d-flex flex-row">
        <MudCheckBox Label="@L["Field.ReadNotes"]" For="@(() => Model.ReadNoteList)" @bind-Checked="Model.ReadNoteList" />
        <MudCheckBox T="bool" Label="@L["Field.ReadNote"]" For="@(() => Model.ReadNote)" Checked="Model.ReadNote" CheckedChanged="ChangeNoteReadStatus" />
        <MudCheckBox T="bool" Label="@L["Field.EditNote"]" For="@(() => Model.EditNote)" Checked="Model.EditNote" CheckedChanged="ChangeNoteEditStatus" />
        <MudCheckBox T="bool" Label="@L["Field.DeleteNote"]" For="@(() => Model.DeleteNote)" Checked="Model.DeleteNote" CheckedChanged="ChangeNoteDeleteStatus" />
    </div>
    <MudDivider />
    <MudText Class="mt-1">@L["Group.Members"]</MudText>
    <div class="d-flex flex-row">
        <MudCheckBox T="bool" Label="@L["Field.ReadMembers"]" For="@(() => Model.ReadMemberList)" Checked="Model.ReadMemberList" CheckedChanged="ChangeMemberReadStatus" />
        <MudCheckBox T="bool" Label="@L["Field.EditMembers"]" For="@(() => Model.EditMemberList)" Checked="Model.EditMemberList" CheckedChanged="ChangeMemberEditStatus" />
    </div>
    <MudDivider />
    <MudText Class="mt-1">@L["Group.Roles"]</MudText>
    <div class="d-flex flex-row">
        <MudCheckBox T="bool" Label="@L["Field.ReadRoles"]" For="@(() => Model.ReadRoleList)" Checked="Model.ReadRoleList" CheckedChanged="ChangeRoleReadStatus" />
        <MudCheckBox T="bool" Label="@L["Field.EditRoles"]" For="@(() => Model.EditRoleList)" Checked="Model.EditRoleList" CheckedChanged="ChangeRoleEditStatus" />
    </div>
    <MudDivider />
    <MudText Class="mt-1">@L["Group.Logs"]</MudText>
    <div class="d-flex flex-row">
        <MudCheckBox Label="@L["Field.ReadLogs"]" For="@(() => Model.ReadGroupActionLog)" @bind-Checked="Model.ReadGroupActionLog" />
        <MudCheckBox Label="@L["Field.ReadNoteLogs"]" For="@(() => Model.ReadNoteActionLog)" @bind-Checked="Model.ReadNoteActionLog" />
    </div>
    <MudDivider />
    <MudText Class="mt-1">@L["Group.Tags"]</MudText>
    <div class="d-flex flex-row">
        <MudCheckBox T="bool" Label="@L["Field.ReadTags"]" For="@(() => Model.ReadTagList)" Checked="Model.ReadTagList" CheckedChanged="ChangeTagReadStatus" />
        <MudCheckBox T="bool" Label="@L["Field.EditTags"]" For="@(() => Model.EditTagList)" Checked="Model.EditTagList" CheckedChanged="ChangeTagEditStatus" />
    </div>
</EditorDialog>

@code {
    [Parameter]
    public int? GroupRoleId { get; set; }

    [Parameter]
    public int GroupId { get; set; }

    [Inject]
    private IGroupRoleService GroupRoleService { get; set; } = default!;

    private GroupRoleDTO? GroupRole { get; set; }
    private GroupRoleModel Model { get; set; } = new(0);
    private bool IsEdit { get; set; } = false;

    protected override async void OnInitialized()
    {
        Model.GroupId = GroupId;
        if (ObjectHelper.IsNotNull(GroupRoleId))
        {
            IsEdit = true;
            GroupRole = await GroupRoleService.Get<GroupRoleDTO>((int)GroupRoleId);

            if (ObjectHelper.IsNotNull(GroupRole))
            {
                Model = new GroupRoleModel(GroupId, GroupRole);
                await InvokeAsync(StateHasChanged);
            }

        }
        base.OnInitialized();
    }

    private Task<bool> Submit()
    {
        if (IsEdit && ObjectHelper.IsNotNull(GroupRoleId))
        {
            return GroupRoleService.Update((int)GroupRoleId, Model);
        }

        return GroupRoleService.Create(Model);
    }

    private Task<bool> Remove()
    {
        if (ObjectHelper.IsNotNull(GroupRoleId))
        {
            return GroupRoleService.Delete((int)GroupRoleId);
        }

        return Task.FromResult(false);
    }

    private async Task<bool> ValidateForm(GroupRoleModel model, ISnackbar snackbar)
    {
        if (ObjectHelper.IsNotNull(GroupRole) && model.Name != GroupRole.Name && await GroupRoleService.Exists(GroupId, model.Name))
        {
            snackbar.Add(L["Message.AlreadyExists", model.Name], Severity.Error);
            return false;
        }

        return true;
    }

    private void ChangeNoteReadStatus(bool value)
    {
        Model.ReadNote = value;
        if (!value && (Model.EditNote || Model.DeleteNote))
        {
            Model.EditNote = false;
            Model.DeleteNote = false;
        }
    }

    private void ChangeNoteEditStatus(bool value)
    {
        Model.EditNote = value;

        if (value && !Model.ReadNote)
        {
            Model.ReadNote = true;
        }

        if (!value && Model.DeleteNote)
        {
            Model.DeleteNote = false;
        }
    }

    private void ChangeNoteDeleteStatus(bool value)
    {
        Model.DeleteNote = value;

        if (value && (!Model.ReadNote || !Model.EditNote))
        {
            Model.ReadNote = true;
            Model.EditNote = true;
        }
    }

    private void ChangeMemberReadStatus(bool value)
    {
        Model.ReadMemberList = value;

        if (!value)
        {
            Model.EditMemberList = false;
        }
    }

    private void ChangeMemberEditStatus(bool value)
    {
        Model.EditMemberList = value;

        if (value)
        {
            Model.ReadMemberList = true;
        }
    }

    private void ChangeRoleReadStatus(bool value)
    {
        Model.ReadRoleList = value;

        if (!value)
        {
            Model.EditRoleList = false;
        }
    }

    private void ChangeRoleEditStatus(bool value)
    {
        Model.EditRoleList = value;

        if (value)
        {
            Model.ReadRoleList = true;
        }
    }

    private void ChangeTagReadStatus(bool value)
    {
        Model.ReadTagList = value;

        if (!value)
        {
            Model.EditTagList = false;
        }
    }

    private void ChangeTagEditStatus(bool value)
    {
        Model.EditTagList = value;

        if (value)
        {
            Model.ReadTagList = true;
        }
    }
}
