@using Papyrus.Shared.DTOs.Notes
@using Papyrus.Client.Services.Interfaces
@inject ICommonService CommonService
@inject IStringLocalizer<NoteListFolderTile> L

<MudMenu Class="w-100" PositionAtCursor="true" ActivationEvent="@MouseEvent.RightClick" Dense="true" Variant="Variant.Outlined" >
    <ActivatorContent>
        <div class="w-100" @onclick="ClickHandler">
            <MudCard Class="w-100 p-2 d-flex flex-column align-items-center" @onclick="ClickHandler">
                <img src="assets/images/folder.svg" height="120" />
                <MudText Color="Color.Primary" Class="mt-2">
                    @Folder.Name
                </MudText>
            </MudCard>
        </div>
    </ActivatorContent>
    <ChildContent>
        <MudMenuItem Icon="@Icons.Filled.FolderOpen" IconSize="Size.Small" OnClick="ClickHandler">@L["Menu.Item.Open"]</MudMenuItem>
        <MudMenuItem Icon="@Icons.Filled.Edit" IconColor="Color.Warning" IconSize="Size.Small">@L["Menu.Item.Edit"]</MudMenuItem>
        <MudMenuItem Icon="@Icons.Filled.Delete" IconColor="Color.Error" IconSize="Size.Small">@L["Menu.Item.Delete"]</MudMenuItem>
        <MudMenuItem Icon="@Icons.Filled.Info" IconColor="Color.Info" IconSize="Size.Small">@L["Menu.Item.Details"]</MudMenuItem>
    </ChildContent>
</MudMenu>

@code
{
    [Parameter, EditorRequired]
    public FolderDTO Folder { get; set; } = default!;

    private void ClickHandler() => CommonService.OpenFolder(Folder.Id);
}
