@using KarcagS.Shared.Helpers
@using Papyrus.Shared.DTOs.Notes
@inject IStringLocalizer<NoteListTile> L

<MudCard Elevation="2">
    <div class="tile-content p-2">
        <MudText Typo="Typo.h6" Color="Color.Primary">
            <div class="d-flex flex-row align-items-center gap-2">
                <NotePublicStatusIcon Public="Note.Public" Size="Size.Small" />
                <b>@Note.Title</b>
            </div>
        </MudText>
        <MudText Typo="Typo.body1">@Note.Creator</MudText>
        <MudSpacer />
        <MudText Typo="Typo.body2"><b>@L["LastUpdate"]:</b> @DateHelper.DateToString(Note.LastUpdate)</MudText>
        <div class="desc-row mt-2">
            <div>
                @foreach (var tag in Note.Tags)
                {
                    <TagBox Tag="tag" />
                }
            </div>
            <MudTooltip Text="@L["OpenButton.Info"]">
                <MudIconButton Size="Size.Small" Icon="@Icons.Filled.OpenInBrowser" Color="Color.Primary" OnClick="Open" />
            </MudTooltip>
        </div>
    </div>
</MudCard>

@code {
    [Parameter, EditorRequired]
    public NoteLightDTO Note { get; set; } = default!;

    [Parameter]
    public bool OpenDisabled { get; set; } = false;

    [Inject]
    private IJSRuntime JSRuntime { get; set; } = default!;

    private async void Open()
    {
        await JSRuntime.InvokeAsync<object>("open", $"/notes/editor/{Note.Id}", "_blank");
    }
}
