@using KarcagS.Blazor.Common.Services.Interfaces
@using Papyrus.Shared.DTOs.Notes
@using Papyrus.Client.Services.Interfaces
@inject IStringLocalizer<NoteListFolderTile> L
@inject IHelperService Helper
@inject ICommonService CommonService

<MudMenu Class="w-100" PositionAtCursor="true" ActivationEvent="@MouseEvent.RightClick" Dense="true" Variant="Variant.Outlined" >
    <ActivatorContent>
        <div class="w-100" @onclick="ClickHandler">
            <MudCard Class="w-100 p-2 d-flex flex-column align-items-center tile-hover">
                <img src="assets/images/folder.svg" height="120" />
                <div class="mt-2 w-100 text-center" style="overflow: hidden;">
                    <MudTooltip Text="@Folder.Name" RootClass="w-100">
                        <MudText Color="Color.Primary" Style="white-space: nowrap; text-overflow: ellipsis; overflow: hidden;">
                            @Folder.Name
                        </MudText>
                    </MudTooltip>
                </div>
            </MudCard>
        </div>
    </ActivatorContent>
    <ChildContent>
        <MudMenuItem Icon="@Icons.Filled.FolderOpen" IconSize="Size.Small" OnClick="ClickHandler">@L["Menu.Item.Open"]</MudMenuItem>
        <MudMenuItem Icon="@Icons.Filled.Edit" IconColor="Color.Warning" IconSize="Size.Small" OnClick="Edit" Disabled="!ManageEnabled">@L["Menu.Item.Edit"]</MudMenuItem>
        <MudMenuItem Icon="@Icons.Filled.Delete" IconColor="Color.Error" IconSize="Size.Small" OnClick="Delete" Disabled="!ManageEnabled">@L["Menu.Item.Delete"]</MudMenuItem>
        <MudMenuItem Icon="@Icons.Filled.Info" IconColor="Color.Info" IconSize="Size.Small" OnClick="DetailsHandler">@L["Menu.Item.Details"]</MudMenuItem>
    </ChildContent>
</MudMenu>

@code
{
    [Parameter, EditorRequired]
    public FolderDTO Folder { get; set; } = default!;

    [Parameter, EditorRequired]
    public string ListPrefix { get; set; } = default!;

    [Parameter]
    public bool ManageEnabled { get; set; } = false;

    [Parameter]
    public EventCallback<string> OnEdit { get; set; }

    [Parameter]
    public EventCallback<string> OnDelete { get; set; }

    private void ClickHandler() => CommonService.OpenFolder(ListPrefix, Folder.Id);

    private async Task DetailsHandler()
    {
        await Helper.OpenDialog<FolderDetailsDialog>("", () => {}, new DialogParameters { { "Folder", Folder } }, new DialogOptions { MaxWidth = MaxWidth.ExtraSmall, FullWidth = true });
    }

    private async Task Edit() => await OnEdit.InvokeAsync(Folder.Id);

    private async Task Delete() => await OnDelete.InvokeAsync(Folder.Id);

}
