@using KarcagS.Blazor.Common.Services.Interfaces
@using Papyrus.Client.Services.Interfaces
@using Papyrus.Client.Services.Notes.Interfaces
@using Papyrus.Shared.DTOs.Notes
@using Papyrus.Shared.Enums.Notes
@using Papyrus.Shared.Models.Notes
@inject IStringLocalizer<NoteList> L
@inject INoteService NoteService
@inject IFolderService FolderService
@inject ITagService TagService
@inject IHelperService Helper
@inject ICommonService CommonService
@inject IConfirmService ConfirmService

<ActionBar>
    <ChildContent>
        <div class="d-flex flex-row gap-2">
            @if (NoteCreateEnabled)
            {
                <MudButton Color="Color.Secondary" Variant="Variant.Filled" OnClick="CreateNote">@L["CreateAction"]</MudButton>
            }
            @if (FolderCreateEnabled)
            {
                <MudButton Color="Color.Secondary" Variant="Variant.Filled" OnClick="@(() => OpenFolderEditor(null))">@L["CreateFolderAction"]</MudButton>
            }
        </div>
        <MudSpacer />
        <MudRadioGroup Class="mr-3" T="bool" SelectedOption="QueryModel.ArchivedStatus" SelectedOptionChanged="HandleArchivedStatusChange">
            <MudRadio Size="Size.Small" Option="true">@L["ArchivedStatus.Archived"]</MudRadio>
            <MudRadio Size="Size.Small" Option="false">@L["ArchivedStatus.NotArchived"]</MudRadio>
        </MudRadioGroup>
        <MudRadioGroup T="NotePublishType" SelectedOption="QueryModel.PublishType" SelectedOptionChanged="HandlePublishTypeChange">
            <MudRadio Size="Size.Small" Option="NotePublishType.All">@L["PublishType.All"]</MudRadio>
            <MudRadio Size="Size.Small" Option="NotePublishType.Published">@L["PublishType.Published"]</MudRadio>
            <MudRadio Size="Size.Small" Option="NotePublishType.NotPublished">@L["PublishType.NotPublished"]</MudRadio>
        </MudRadioGroup>
    </ChildContent>
    <OtherRows>
        <div class="d-flex flex-row w-100">
            <div></div>
            <MudSpacer />
            @if (ObjectHelper.IsNotEmpty(Tags))
            {
                <div class="mr-3">
                    <MudSelect T="int" Style="width: 420px;" SelectedValues="QueryModel.Tags.AsEnumerable()" SelectedValuesChanged="HandleTagFilterChange" Variant="Variant.Outlined" Dense Margin="Margin.Dense" Clearable MultiSelection MultiSelectionTextFunc="ConstructTagText" Placeholder="@L["TagFilter.Placeholder"]">
                        @foreach (var tag in Tags)
                        {
                            <MudSelectItem @key="tag.Id" Value="tag.Id"><TagBox Tag="tag" /></MudSelectItem>
                        }
                    </MudSelect>
                </div>
            }
            <div class="mr-3">
                <DateInput Label="" Style="width: 260px" Date="QueryModel.DateFilter" DateChanged="HandleDateFilterChange" Clearable Placeholder="@L["DateFilter.Placeholder"]" />
            </div>
            <div>
                <TextInput Label="" Style="width: 260px" Value="@QueryModel.TextFilter" ValueChanged="HandleTextFilterChange" Clearable Placeholder="@L["TextFilter.Placeholder"]" />
            </div>
        </div>
    </OtherRows>
</ActionBar>
<div class="page-content">
    <div>
        <MudGrid>
            @foreach(var folder in Content.Folders)
            {
                <MudItem @key="folder.Id" xs="6" sm="4" md="3" lg="2" xl="1">
                    <NoteListFolderTile Folder="folder" OnEdit="OpenFolderEditor" OnDelete="OpenDeleteConfirm" ManageEnabled="FolderManageEnabled" />
                </MudItem>
            }
            @foreach (var note in Content.Notes)
            {
                <MudItem @key="note.Id" xs="6" sm="4" md="3" lg="2" xl="1">
                    <NoteListNoteTile Note="note" OpenDisabled="NoteOpenDisabled" />
                </MudItem>
            }
        </MudGrid>
    </div>
</div>

@code {
    [Parameter]
    public int? GroupId { get; set; } = null;

    [Parameter]
    public string? Folder { get; set; }

    [Parameter]
    public EventCallback Refreshed { get; set; }

    [Parameter]
    public bool NoteCreateEnabled { get; set; } = false;

    [Parameter]
    public bool FolderCreateEnabled { get; set; } = false;

    [Parameter]
    public bool NoteOpenDisabled { get; set; } = true;

    [Parameter]
    public bool FolderManageEnabled { get; set; } = false;

    private NoteFilterQueryModel QueryModel { get; set; } = new();
    private List<NoteTagDTO> Tags { get; set; } = new();
    private FolderContentDTO Content { get; set; } = new FolderContentDTO { ParentFolder = new(), Folders = new(), Notes = new() };

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        Tags = await TagService.GetList(GroupId);

        await Refresh();
    }

    protected override async Task OnParametersSetAsync()
    {
        await Refresh();
    }

    private async Task Refresh(Action? postAction = null)
    {
        Content = await FolderService.GetContent(Folder, GroupId);
        await Refreshed.InvokeAsync();

        await InvokeAsync(StateHasChanged);

        postAction?.Invoke();
    }

    private async Task CreateNote()
    {
        if (!NoteCreateEnabled)
        {
            return;
        }

        var result = await NoteService.CreateEmpty(Content.ParentFolder.Id, GroupId);

        if (ObjectHelper.IsNotNull(result))
        {
            await Refresh(async () => await CommonService.OpenNote(result.Id));
        }
    }

    private async Task OpenFolderEditor(string? id = null)
    {
        var parameters = new DialogParameters {{ "FolderId", id }, { "ParentFolderId", Content.ParentFolder.Id }, { "GroupId", GroupId }};

        await Helper.OpenEditorDialog<FolderEditDialog>("", async (res) => await Refresh(), parameters);
    }

    private async Task OpenDeleteConfirm(string id) {
        await ConfirmService.Open(new ConfirmDialogInput {
            Name = L["FolderEntity"],
            ActionName = L["FolderDeleteAction"].ToString().ToLower(),
            ActionFunction = () => FolderService.Delete(id)
        },
        L["FolderDelete.Confirm.Title"],
        async () => await Refresh());
    }

    private string ConstructTagText(List<string> list)
    {
        var ids = list.Select(x => int.Parse(x)).ToList();
        return string.Join(", ", Tags.Where(x => ids.Contains(x.Id)).Select(x => x.Caption).ToList());
    }

    private async Task HandlePublishTypeChange(NotePublishType publishType)
    {
        QueryModel.PublishType = publishType;
        await Refresh();
    }

    private async Task HandleArchivedStatusChange(bool status)
    {
        QueryModel.ArchivedStatus = status;
        await Refresh();
    }

    private async Task HandleTextFilterChange(string text)
    {
        QueryModel.TextFilter = string.IsNullOrEmpty(text) ? null : text;
        await Refresh();
    }

    private async Task HandleDateFilterChange(DateTime? date)
    {
        QueryModel.DateFilter = date;
        await Refresh();
    }

    private async Task HandleTagFilterChange(IEnumerable<int> tags)
    {
        QueryModel.Tags = tags.ToList();
        await Refresh();
    }
}
