@using Papyrus.Shared.DTOs.Notes
@using Papyrus.Client.Services.Interfaces
@using Papyrus.Shared.Enums.Notes
@inject IJSRuntime JSRuntime
@inject ICommonService CommonService
@inject IStringLocalizer<SearchResultTile> L

<MudCard Style="max-width: 800px;" Class="d-flex flex-column m-1 p-2 w-100 h-100">
    <div class="d-flex flex-row align-items-center gap-3 mb-1">
        <NotePublicStatusIcon Public="SearchResult.PublicStatus" />
        <MudText Typo="Typo.h6" Color="Color.Primary">
            <b>
                <MudHighlighter Text="@SearchResult.DisplayTitle" HighlightedText="@SearchTerm" CaseSensitive="false" Style="padding: unset;" />
            </b>
            [@GetSourceText()]
        </MudText>

    </div>
    <DateDataRow Title="@L["Row.Creation"]" Date="SearchResult.Creation" OneRow />
    <DateDataRow Title="@L["Row.LastUpdate"]" Date="SearchResult.LastUpdate" OneRow />

    <MudText Typo="Typo.body1" Color="Color.Default" Inline="true">
        <MudText Typo="Typo.body1" Color="Color.Primary" Inline="true">
            <b>@L["Row.Owner"]:</b>
        </MudText>
        <MudHighlighter Text="@SearchResult.Data.Owner" HighlightedText="@SearchTerm" CaseSensitive="false" Style="padding: unset;" />
        (@L[SearchResult.Data.OwnerIsGroup ? "OwnerType.Group" : "OwnerType.User"])
    </MudText>

    @if (SearchResult.Tags.Count > 0)
    {
        <MudText Color="Color.Primary">@L["Row.Tags"]:</MudText>
        <div>
            @foreach (var tag in SearchResult.Tags)
            {
                <TagBox Tag="tag" HighlightedText="@SearchTerm" />
            }
        </div>
    }

    <MudSpacer />

    <div class="text-center">
        <MudButton Variant="Variant.Filled" Color="Color.Tertiary" OnClick="Open" Disabled="SearchResult.Archived || !SearchResult.Data.Openable" EndIcon="@Icons.Filled.OpenInBrowser">@L["OpenAction"]</MudButton>
    </div>
</MudCard>

@code {
    [Parameter, EditorRequired]
    public SearchResultDTO SearchResult { get; set; } = default!;

    [Parameter]
    public string SearchTerm { get; set; } = string.Empty;

    private async Task Open()
    {
        await CommonService.OpenNote(SearchResult.NoteId, JSRuntime);
    }

    private string GetSourceText() {
        switch (SearchResult.Data.Type)
        {
            case SearchResultCategory.Group:
                return L["Source.Group"];
            case SearchResultCategory.User:
                return L["Source.User"];
            default:
                return "";
        }
    }
}
