@using Papyrus.Client.Shared
@using Papyrus.Shared.DTOs
@using Papyrus.Client.Services.Interfaces
@inherits LayoutComponentBase
@implements IDisposable
@inject IUserService userService
@inject IAuthService auth
@inject NavigationManager navigator
@inject AuthenticationStateProvider authStateProvider

<MudThemeProvider Theme="@PapyrusTheme.GetTheme()" />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout Class="flex-box">
    <MudAppBar Elevation="1" Dense="true" Color="Color.Primary">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start"
                       OnClick="@((_) => DrawerToggle())" Class="mr-5" />
        <MudLink Color="Color.Inherit" Class="mr-5 ml-5 mud-nav-link-text appbar-title" Href="/home">
            @PapyrusContext.ApplicationName
        </MudLink>
        <MudSpacer></MudSpacer>
        <AuthorizeView>
            <Authorized>
                @if (User is not null)
                {
                    <MudText Typo="Typo.caption">@User.UserName</MudText>
                    <MudAvatar Color="Color.Secondary" Class="ml-3">@User.UserName.ToUpper()[0]</MudAvatar>
                }
            </Authorized>
        </AuthorizeView>
    </MudAppBar>
    <MudDrawer @bind-Open="@drawerOpen" Elevation="2" ClipMode="DrawerClipMode.Always" Class="drawer">
        <NavMenu />
    </MudDrawer>
    <MudMainContent Class="flex-box">
        <AuthorizeView>
            <Authorized>
                @Body
            </Authorized>
            <NotAuthorized>
                @if (!context.User?.Identity?.IsAuthenticated ?? true)
                {
                    <NotAuthorizedAction />
                }
                else
                {
                    <p>You do not have access for the resource</p>
                }
            </NotAuthorized>
        </AuthorizeView>
    </MudMainContent>
</MudLayout>

@code {
    private UserDTO? User { get; set; }
    bool drawerOpen = true;

    void DrawerToggle()
    {
        drawerOpen = !drawerOpen;
    }

    protected override async void OnInitialized()
    {
        GetUserFromState(authStateProvider.GetAuthenticationStateAsync());

        authStateProvider.AuthenticationStateChanged += GetUserFromState;

        await base.OnInitializedAsync();
    }

    private async void GetUserFromState(Task<AuthenticationState> state)
    {
        if ((await state).User.Identity?.Name is not null)
        {
            User = await userService.Current();
            StateHasChanged();
        }
    }

    void IDisposable.Dispose()
    {
        authStateProvider.AuthenticationStateChanged -= GetUserFromState;
    }

}