@page "/users"
@using KarcagS.Blazor.Common.Services.Interfaces
@using KarcagS.Shared.Table
@using Papyrus.Client.Services.Interfaces
@using Papyrus.Client.Shared.Dialogs.Admin
@using Papyrus.Shared
@using Papyrus.Shared.DTOs
@using Microsoft.IdentityModel.Tokens
@using KarcagS.Shared.Helpers
@attribute [Authorize(Roles = "Administrator,Moderator")]
@inject IStringLocalizer<Users> L
@inject IUserTableService UserTableService
@inject IHelperService HelperService
@inject IRoleService RoleService
@inject IHelperService Helper

<ApplicationPageTitle PageName="@L["PageName"]"></ApplicationPageTitle>

<div class="page-div">
    <Table @ref="Table" TKey="string" Service="UserTableService" Localizer="L" Style="Style" OnRowClick="RowClickHandler" ReadOnly="!HasWriteRight">

        <FilterRow>
            <MudSelect Style="width: 240px;" T="string" ValueChanged="@(args => context("role", string.IsNullOrEmpty(args) ? null : args))" Label="@L["Table.Filter.Role"]" Placeholder="@L["Table.Filter.Role"]" Variant="Variant.Outlined" Dense="true" Margin="Margin.Dense" Clearable="true">
                @foreach (var role in Roles)
                {
                    <MudSelectItem Value="role.Id">@role.Name</MudSelectItem>
                }
            </MudSelect>
        </FilterRow>

    </Table>
</div>


@code {
    [CascadingParameter]
    private Task<AuthenticationState> authStateTask { get; set; } = default!;

    private Table<string>? Table { get; set; }
    private StyleConfiguration Style { get; set; } = StyleConfiguration.Build();
    private List<RoleDTO> Roles { get; set; } = new();
    private bool HasWriteRight { get; set; } = false;

    protected override async void OnInitialized()
    {
        HasWriteRight = await Helper.IsInRole(authStateTask, "Administrator");
        Style.AddColorGetter(item =>
        {
            if (item.Tags.Contains(Tags.TrueValue))
            {
                return Color.Error;
            }
            else if (item.Tags.Contains(Tags.FalseValue))
            {
                return Color.Success;
            }
            else if (item.Tags.Contains(Tags.AdminRole))
            {
                return Color.Error;
            }
            else if (item.Tags.Contains(Tags.ModeratorRole))
            {
                return Color.Warning;
            }
            else if (item.Tags.Contains(Tags.CurrentUserTag))
            {
                return Color.Secondary;
            }

            return Color.Default;
        });


        base.OnInitialized();

        Roles = await RoleService.GetAllTranslated();
        await InvokeAsync(StateHasChanged);
    }

    private async Task RowClickHandler(ResultRowItem<string> item)
    {
        if (!HasWriteRight)
        {
            return;
        }

        var parameters = new DialogParameters { { "UserId", item.ItemKey } };

        await HelperService.OpenEditorDialog<UserSettingDialog>("User Settings", (res) => Table?.Refresh(), parameters);
    }

}