@page "/users"
@using KarcagS.Blazor.Common.Services.Interfaces
@using KarcagS.Shared.Table
@using Papyrus.Client.Services.Interfaces
@using Papyrus.Client.Shared.Dialogs.Admin
@using Papyrus.Shared
@using Papyrus.Shared.DTOs
@attribute [Authorize(Roles = "Administrator,Moderator")]
@inject IStringLocalizer<Users> L
@inject IUserTableService UserTableService
@inject IHelperService HelperService
@inject IRoleService RoleService
@inject IHelperService Helper

<ApplicationPageTitle PageName="@L["PageName"]"></ApplicationPageTitle>

<div class="page-div">
    <Table @ref="Table" TKey="string" Service="UserTableService" Localizer="L" Style="Style" OnRowClick="RowClickHandler" ReadOnly="!HasWriteRight">

        <FilterRow>
            <Selector Style="width: 240px;" T="string" TItem="RoleDTO" Items="Roles" KeyGetter="@((item) => item.Id)" Label="@L["Table.Filter.Role"]" Placeholder="@L["Table.Filter.Role"]" Clearable Value="@SelectedRole" ValueChanged="@(args => FilterHandler(args, context))">
                <SelectItem Context="ctx">
                    @ctx.Name
                </SelectItem>
            </Selector>
        </FilterRow>

    </Table>
</div>


@code {
    [CascadingParameter]
    private Task<AuthenticationState> authStateTask { get; set; } = default!;

    private Table<string>? Table { get; set; }
    private StyleConfiguration Style { get; set; } = StyleConfiguration.Build();
    private List<RoleDTO> Roles { get; set; } = new();
    private bool HasWriteRight { get; set; } = false;
    private string? SelectedRole { get; set; }

    protected override async void OnInitialized()
    {
        HasWriteRight = await Helper.IsInRole(authStateTask, "Administrator");
        Style.AddColorGetter(item =>
        {
            if (item.Tags.Contains(Tags.TrueValue))
            {
                return Color.Error;
            }
            else if (item.Tags.Contains(Tags.FalseValue))
            {
                return Color.Success;
            }
            else if (item.Tags.Contains(Tags.AdminRole))
            {
                return Color.Error;
            }
            else if (item.Tags.Contains(Tags.ModeratorRole))
            {
                return Color.Warning;
            }
            else if (item.Tags.Contains(Tags.CurrentUserTag))
            {
                return Color.Secondary;
            }

            return Color.Default;
        });


        base.OnInitialized();

        Roles = await RoleService.GetAllTranslated();
        await InvokeAsync(StateHasChanged);
    }

    private async Task RowClickHandler(ResultRowItem<string> item)
    {
        if (!HasWriteRight)
        {
            return;
        }

        var parameters = new DialogParameters { { "UserId", item.ItemKey } };

        await HelperService.OpenEditorDialog<UserSettingDialog>("User Settings", (res) => Table?.Refresh(), parameters);
    }

    private void FilterHandler(string value, Action<string, object?> filter)
    {
        SelectedRole = value;
        filter("role", string.IsNullOrEmpty(value) ? null : value);
    }

}
