@page "/groups/{GroupId:int}/members"
@using KarcagS.Shared.Helpers
@using Papyrus.Shared.DTOs.Groups
@attribute [Authorize]

<ApplicationPageTitle PageName="Group - Members" />

<div class="page-div">
    <ActionBar>
        <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="@Add">Add</MudButton>
    </ActionBar>
    <MudTable T="GroupMemberDTO" Items="Members" Loading="Loading" Dense="true" Elevation="2" FixedHeader="true" OnRowClick="Edit" Hover="true" Striped="true">
        <HeaderContent>
            <MudTh>
                <MudText Color="Color.Primary">User</MudText>
            </MudTh>
            <MudTh>
                <MudText Color="Color.Primary">Role</MudText>
            </MudTh>
            <MudTh>
                <MudText Color="Color.Primary">Added By</MudText>
            </MudTh>
            <MudTh>
                <MudText Color="Color.Primary">Join</MudText>
            </MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="User">
                @if (User is not null && context.User.Id == User)
                {
                    <MudText Color="Color.Error">@context.User.UserName</MudText>
                }
                else
                {
                    @context.User.UserName
                }
            </MudTd>
            <MudTd DataLabel="Role">@context.Role.Name</MudTd>
            <MudTd DataLabel="AddedBy">@WriteHelper.WriteNullableField(context.AddedBy?.UserName)</MudTd>
            <MudTd DataLabel="Join">@DateHelper.DateToString(context.Join)</MudTd>
        </RowTemplate>
    </MudTable>
</div>