@page "/groups/{GroupId:int}"
@attribute [Authorize]

<GroupPageTitle PageName="Data" />

<div class="page-div">
    @if (Group is not null)
    {
        <ActionBar>
            @if (Group.IsClosed)
            {
                <MudButton Color="Color.Warning" Variant="Variant.Filled" Disabled="!Rights.CanOpen" OnClick="Open">Open</MudButton>
            }
            else
            {
                <MudButton Color="Color.Secondary" Variant="Variant.Filled" OnClick="Edit">Edit</MudButton>
                <MudButton Color="Color.Warning" Variant="Variant.Filled" Disabled="!Rights.CanClose" OnClick="Close">Close</MudButton>
            }
            <MudButton Color="Color.Error" Variant="Variant.Filled" Disabled="!Rights.CanRemove" OnClick="Remove">Remove</MudButton>
            <MudSpacer />
            <MudButton Color="Color.Secondary" Href="/my-groups">My Groups</MudButton>
        </ActionBar>
        <MudCard Elevation="2" Class="p-2">
            <DataRow Title="Name" Value="@Group.Name" />
            <DataRow Title="Owner" Value="@Group.Owner" />
            <DateDataRow Title="Creation" Date="@Group.Creation" />
            <NumberDataRow Title="Members" Number="@Group.Members" Suffix="ct." />
            <NumberDataRow Title="Roles" Number="@Group.Roles" Suffix="ct." />
            <NumberDataRow Title="Tags" Number="@Group.Tags" Suffix="ct." />
            <NumberDataRow Title="Notes" Number="@Group.Notes" Suffix="ct." />
            <DateDataRow Title="Last Action" Date="@Group.LastAction" />
        </MudCard>
    }
</div>