<div id="rt-editor-box" class="mud-elevation-2">
    <div id="rt-editor-actions">
        <MudButtonGroup Color="Color.Primary" Variant="Variant.Outlined">
            <MudIconButton Icon="@Icons.Filled.FormatBold" OnClick="@(() => ExecuteAction(EditorAction.Bold))" Disabled="Disabled"></MudIconButton>
            <MudIconButton Icon="@Icons.Filled.FormatItalic" OnClick="@(() => ExecuteAction(EditorAction.Italic))" Disabled="Disabled"></MudIconButton>
            <MudIconButton Icon="@Icons.Filled.FormatUnderlined" OnClick="@(() => ExecuteAction(EditorAction.Underline))" Disabled="Disabled"></MudIconButton>
            <MudIconButton Icon="@Icons.Filled.FormatStrikethrough" OnClick="@(() => ExecuteAction(EditorAction.Strikethrough))" Disabled="Disabled"></MudIconButton>
        </MudButtonGroup>
        <MudButtonGroup Class="ml-1" Color="Color.Primary" Variant="Variant.Outlined">
            <MudIconButton Disabled="@(Disabled || @ColorPickerOpened)" Icon="@Icons.Filled.FormatColorText" Color="Color.Success" OnClick="@(() => ChooseColor(EditorAction.TextColor))">
            </MudIconButton>
            <MudPopover Open="@ColorPickerOpened" AnchorOrigin="Origin.BottomCenter">
                <div class="p-1">
                    <MudColorPicker PickerVariant="PickerVariant.Static" @bind-Value="SelectedColor" />
                    <MudDivider />
                    <div class="flex-box flex-row justify-content-end p-1 mt-1">
                        <MudButton Size="Size.Small" Variant="Variant.Text" Color="Color.Secondary" OnClick="@(() => CloseColorChooser(true))" Class="mr-1">Cancel</MudButton>
                        <MudButton Size="Size.Small" Variant="Variant.Filled" Color="Color.Primary" OnClick="@(() => CloseColorChooser(false))">Apply</MudButton>
                    </div>
                </div>
            </MudPopover>
            <MudIconButton Disabled="@(Disabled || @ColorPickerOpened)" Icon="@Icons.Filled.FormatColorFill" Color="Color.Warning" OnClick="@(() => ChooseColor(EditorAction.BackColor))"></MudIconButton>
        </MudButtonGroup>
        <MudSpacer />

        @RightToolbar
    </div>
    <MudDivider />
    <div @ref="editorReference" contenteditable="@(!Disabled)" id="rt-editor" @oninput="@((args) => ContentChanged(args))"></div>
</div>
