@page "/notes/editor/{Id}"
@using KarcagS.Shared.Helpers

<ApplicationPageTitle PageName="@PageTitle"></ApplicationPageTitle>

<div class="page-div p-2">

    @if (ObjectHelper.IsNotNull(Note))
    {
        <MudCard Elevation="2" Class="p-2 m-3 mb-1 mt-1">
            <div class="d-flex flex-row align-items-center">
                <MudText Color="Color.Primary" Typo="Typo.h5">@Note.Title</MudText>
                <div class="ml-2 mr-2 d-flex flex-row align-items-center">
                   @foreach (var tag in Note.Tags)
                   {
                       <TagBox Tag="tag" />
                   }
                </div>
                <MudSpacer />
                <div>
                    <MudTooltip Text="Edit note data">
                        <MudIconButton Size="Size.Small" Color="Color.Secondary" Icon="@Icons.Filled.Edit" Class="mr-3 ml-3" OnClick="OpenEdit" />
                    </MudTooltip>
                    <MudTooltip Text="Open note history">
                        <MudIconButton Size="Size.Small" Color="Color.Warning" Icon="@Icons.Filled.History" Class="mr-3 ml-3" OnClick="OpenEdit" />
                    </MudTooltip>

                    @if (ObjectHelper.IsNotNull(Note.GroupId))
                    {
                        <MudTooltip Text="Back to group">
                            <MudIconButton Size="Size.Small" Color="Color.Primary" Icon="@Icons.Filled.Group" Class="mr-3 ml-3" OnClick="@(() => NavigationManager.NavigateTo($"/groups/{Note.GroupId}") )" />
                        </MudTooltip>
                    }

                    <MudTooltip Text="@(DataCollapsed ? "Expand data" : "Collapse data")">
                        <MudIconButton Size="Size.Small" Icon="@(DataCollapsed ? Icons.Filled.ExpandMore : Icons.Filled.ExpandLess)" Class="mr-3 ml-3" OnClick="@(() => DataCollapsed = !DataCollapsed)" />
                    </MudTooltip>
                </div>
            </div>
            @if (!DataCollapsed)
            {
                <MudDivider Class="mt-2 mb-2" />
                <DateDataRow Title="Creation" Date="@Note.Creation" />
                <DateDataRow Title="Last Update" Date="@Note.LastUpdate" />
                <DataRow Title="Creator" Value="@Note.Creator" />
                <DataRow Title="Last Updater" Value="@Note.LastUpdater" />
            }
        </MudCard>
        <Editor @ref="Editor" ClientId="@ClientId" OnContentChange="HandleChange">
            <RightToolbar>
                @foreach (var user in Users)
                {
                    <MudAvatar Color="Color.Secondary" Class="ml-3">@user.UserName.ToUpper()[0]</MudAvatar>
                }
            </RightToolbar>
        </Editor>
    }
</div>
