@page "/notes/editor/{Id}"
@using KarcagS.Blazor.Common.Services.Interfaces
@using KarcagS.Shared.Helpers
@using Microsoft.AspNetCore.SignalR.Client
@using Papyrus.Client.Services.Auth.Interfaces
@using Papyrus.Client.Services.Editor.Interfaces
@using Papyrus.Client.Services.Notes.Interfaces
@inject IStringLocalizer<NoteEditor> L
@inject NavigationManager Navigation
@inject IHelperService Helper
@inject IToasterService Toaster
@inject ITokenService TokenService
@inject INoteService NoteService
@inject IEditorService EditorService

<ApplicationPageTitle PageName="@PageTitle"></ApplicationPageTitle>

<div class="page-div p-2">
    @if (PageLoaded && ObjectHelper.IsNotNull(Note))
    {
        <MudCard Elevation="2" Class="p-2 m-3 mb-1 mt-1">
            <div class="d-flex flex-row align-items-center">
                <NotePublicStatusIcon Class="ml-1 mr-2" Public="Note.Public" />
                <MudText Color="Color.Primary" Typo="Typo.h5">@Note.Title</MudText>
                <div class="ml-2 mr-2 d-flex flex-row align-items-center">
                    @foreach (var tag in Note.Tags)
                    {
                        <TagBox Tag="tag" />
                    }
                </div>
                <MudSpacer />
                <div>
                    @if (NoteRights.CanEdit)
                    {
                        <MudTooltip Text="@L["EditAction.Tooltip"]">
                            <MudIconButton Size="Size.Small" Color="Color.Secondary" Icon="@Icons.Filled.Edit" Class="mr-3 ml-3" OnClick="OpenEdit" />
                        </MudTooltip>
                    }
                    @if (NoteRights.CanViewLogs)
                    {
                        <MudTooltip Text="@L["OpenLogsAction.Tooltip"]">
                            <MudIconButton Size="Size.Small" Color="Color.Warning" Icon="@Icons.Filled.History" Class="mr-3 ml-3" OnClick="OpenLogs" />
                        </MudTooltip>
                    }

                    @if (ObjectHelper.IsNotNull(Note.GroupId))
                    {
                        <MudTooltip Text="@L["BackAction.Tooltip"]">
                            <MudIconButton Size="Size.Small" Color="Color.Primary" Icon="@Icons.Filled.Group" Class="mr-3 ml-3" OnClick="@(() => Navigation.NavigateTo($"/groups/{Note.GroupId}") )" />
                        </MudTooltip>
                    }

                    <MudTooltip Text="@(DataCollapsed ? L["ExpandAction.Tooltip"] : L["CollapseAction.Tooltip"])">
                        <MudIconButton Size="Size.Small" Icon="@(DataCollapsed ? Icons.Filled.ExpandMore : Icons.Filled.ExpandLess)" Class="mr-3 ml-3" OnClick="@(() => DataCollapsed = !DataCollapsed)" />
                    </MudTooltip>
                </div>
            </div>
            @if (!DataCollapsed)
            {
                <MudDivider Class="mt-2 mb-2" />
                <div class="d-flex flex-row">
                    <div class="flex-grow-1">
                        <DateDataRow Title="@L["Creation.Title"]" Date="Note.Creation" OneRow="true" />
                    </div>
                    <div class="flex-grow-1">
                        <DateDataRow Title="@L["LastUpdate.Title"]" Date="Note.LastUpdate" OneRow="true" />
                    </div>
                    <div class="flex-grow-1">
                        <DataRow Title="@L["Creator.Title"]" Value="@Note.Creator" OneRow="true" />
                    </div>
                    <div class="flex-grow-1">
                        <DataRow Title="@L["LastUpdater.Title"]" Value="@Note.LastUpdater" OneRow="true" />
                    </div>
                </div>
                <LogicDataRow Title="@L["IsPublic.Title"]" Value="Note.Public" TrueValue="@L["TrueValue"]" FalseValue="@L["FalseValue"]" TrueColor="Color.Success" FalseColor="Color.Error" OneRow="true" />
                <LogicDataRow Title="@L["IsArchived.Title"]" Value="Note.Archived" TrueValue="@L["TrueValue"]" FalseValue="@L["FalseValue"]" TrueColor="Color.Success" FalseColor="Color.Error" OneRow="true" />
            }
        </MudCard>
        <Editor @ref="Editor" ClientId="@ClientId" OnContentChange="HandleChange" Disabled="!NoteRights.CanEdit">
            <RightToolbar>
                <div class="d-flex flex-row align-items-center gap-3">
                    @foreach (var user in Users)
                    {
                        <MudTooltip Text="@user.DisplayName">
                            <MudAvatar Color="Color.Secondary" Size="Size.Small">@user.UserName.ToUpper()[0]</MudAvatar>
                        </MudTooltip>
                    }
                </div>
                <div class="d-flex ml-5 mr-2 flex-row align-items-center gap-2">
                    @if (IsSaving)
                    {
                        <MudProgressCircular Color="Color.Primary" Indeterminate="true" Size="Size.Small" />
                    }
                    else
                    {
                        <MudTooltip Text="@L["SaveContent.Tooltip"]">
                                <MudIconButton Icon="@Icons.Filled.Save" Color="Color.Primary" OnClick="SaveDirtyState" Disabled="@(!NoteRights.CanEdit || (!Editor?.IsDirty ?? true))" Class="p-1 mr-1" />
                        </MudTooltip>
                    }
                    <MudTooltip Text="@(ObjectHelper.OrElse(editorHub?.State, HubConnectionState.Disconnected) == HubConnectionState.Connected ? L["Connection.Active.Tooltip"] : L["Connection.Inactive.Tooltip"])">
                        <MudIcon Icon="@(ObjectHelper.OrElse(editorHub?.State, HubConnectionState.Disconnected) == HubConnectionState.Connected ? Icons.Filled.Cloud : Icons.Filled.CloudOff)" Color="Color.Primary" />
                    </MudTooltip>
                </div>
            </RightToolbar>
        </Editor>
    }
</div>
