@using KarcagS.Shared.Common
@using KarcagS.Shared.Localization
@using KarcagS.Shared.Table

@typeparam TKey

<div class="d-flex flex-column w-100" style="max-height: 100%;">
    @if (MetaData != null)
    {
        <MudTable @ref="TableComponent" ServerData="@(new Func<TableState, Task<TableData<ResultRowItem<TKey>>>>(TableReload))" Virtualize="true" T="ResultRowItem<TKey>" Class="@AppendedClass" Loading="Loading" Dense="Style.Dense" Elevation="Style.Elevation" FixedHeader="Style.FixedHeader" FixedFooter="true" Hover="Style.Hover" Striped="Style.Striped" Bordered="Style.Bordered" OnRowClick="RowClickHandler">
            <ColGroup>
                @foreach (var col in MetaData.ColumnsData.Columns)
                {
                    @if (ObjectHelper.IsNotNull(col.Width))
                    {
                        <col style="width: @(col.Width)px;" />
                    }
                    else
                    {
                        <col />
                    }
                }
            </ColGroup>
            <ToolBarContent>
                <div class="d-flex flex-row align-items-center w-100 mr-2">
                    <MudText Typo="Typo.h5" Color="Color.Primary" Class="w-100 mt-3 mb-3">
                        <b>@GetTitle(MetaData, Localizer)</b>
                    </MudText>
                    <MudSpacer />
                    @if (ObjectHelper.IsNotNull(ErrorResult))
                    {
                        <div class="d-flex flex-row align-items-center gap-2">
                            <MudIcon Icon="@Icons.Filled.Error" Color="Color.Error" />
                            <MudText Style="white-space: nowrap;" Typo="Typo.body2" Inline="true" Color="Color.Error">@GetErrorMessage(ErrorResult.Message, Localizer)</MudText>
                        </div>
                    }
                    else
                    {
                        @if (ObjectHelper.IsNotNull(FilterRow))
                        {
                            <div class="d-flex flex-row align-items-center mr-3">
                                @FilterRow(SetAdditionalFilter)
                            </div>
                        }
                        @if (MetaData.FilterData.TextFilterEnabled)
                        {
                            <MudTextField Class="mr-3" T="string" DebounceInterval="500" Variant="Variant.Outlined" Margin="Margin.Dense" Clearable="true" Style="width: 300px;" Value="TextFilter" ValueChanged="TextFilterHandler" Placeholder="@LocalizationService.GetValue(LibraryLocalizer.TableSearchLabelKey, "Search")" Adornment="Adornment.Start" AdornmentIcon="@Icons.Filled.Search" />
                        }
                    }
                </div>
            </ToolBarContent>
            <HeaderContent>
                @foreach (var col in MetaData.ColumnsData.Columns)
                {
                    <MudTh Style="@GetTHStyle(col.Alignment)"><MudText Color="Style.TitleColorGetter(col.Key)"><b>@GetColumnTitle(col, Localizer)</b></MudText></MudTh>
                }
            </HeaderContent>
            <RowTemplate>
                @foreach (var col in MetaData.ColumnsData.Columns)
                {
                    <MudTd Style="@GetTDStyle(col.Alignment)" DataLabel="@col.Key"><MudText Color="Style.ColorGetter(context.Values[col.Key])">@GetValue(context.Values[col.Key].Value, Localizer)</MudText></MudTd>
                }
            </RowTemplate>
            <PagerContent>
                @if (MetaData.PaginationData.PaginationEnabled)
                {
                    <div style="min-height: 52px;">
                        <MudTablePager PageSizeOptions="@(new int[] { MetaData.PaginationData.PageSize })" HideRowsPerPage="true" />
                    </div>
                }
            </PagerContent>
        </MudTable>
    }
</div>

