@page "/login"
@using KarcagS.Shared.Helpers
@using Microsoft.AspNetCore.WebUtilities
@using Microsoft.Extensions.Localization
@using Papyrus.Client.Services.Interfaces
@using Papyrus.Shared.Models.Auth
@using Papyrus.Client.Services.Auth.Interfaces
@layout AuthLayout
@inject NavigationManager NavigationManager
@inject IAuthService AuthService
@inject IStringLocalizer<Login> L

<ApplicationPageTitle PageName="@L["PageName"]"></ApplicationPageTitle>

<div id="panel">
    <MudPaper Class="p-4" Elevation="4">
        <MudText Typo="Typo.h4" Color="Color.Primary">@L["Title"]</MudText>

        <MainImage Width="300" Class="mt-3 text-center" />

        <MudForm @ref="form" Model="Model">
            <MudTextField T="string" Label="@L["Field.UserName"]" Variant="Variant.Text" Required="true" For="@(() => Model.UserName)" @bind-Value="Model.UserName" FullWidth="true">
            </MudTextField>
            <MudTextField T="string" Label="@L["Field.Password"]" Variant="Variant.Text" InputType="@passwordInput" Adornment="Adornment.End" AdornmentIcon="@passwordInputIcon" OnAdornmentClick="SwitchPasswordVisibility" Required="true" For="@(() => Model.Password)" @bind-Value="Model.Password" FullWidth="true">
            </MudTextField>
            <div class="text-center mt-3 mb-3">
                <MudButton Color="Color.Primary" Class="mt-3" Variant="Variant.Filled" OnClick="Submit" StartIcon="@Icons.Material.Filled.Login">
                    @L["Button"]
                </MudButton>
            </div>
            <MudDivider />
            <div class="text-center mt-3">
                <MudButton Color="Color.Secondary" Variant="Variant.Text" OnClick="ToRegister" StartIcon="@Icons.Material.Filled.PersonAdd">@L["Redirect"]</MudButton>
            </div>
        </MudForm>
    </MudPaper>
</div>

@code {

    [Parameter]
    [SupplyParameterFromQuery]
    public string RedirectUri { get; set; } = string.Empty;

    MudForm? form;

    private LoginModel Model { get; set; } = new();

    private bool isShow;
    private string passwordInputIcon = Icons.Material.Filled.VisibilityOff;
    private InputType passwordInput = InputType.Password;

    private void ToRegister()
    {
        NavigationManager.NavigateTo("/register");
    }

    private async void Submit()
    {
        if (ObjectHelper.IsNull(form))
        {
            return;
        }

        await form.Validate();
        if (!form.IsValid) return;
        var res = await AuthService.Login(Model);
        if (!string.IsNullOrEmpty(res))
        {
            var uri = string.IsNullOrEmpty(RedirectUri) ? "/dashboard" : RedirectUri;
            NavigationManager.NavigateTo(string.IsNullOrEmpty(RedirectUri) ? "/dashboard" : RedirectUri, true);
        }
    }

    private void SwitchPasswordVisibility()
    {
        if (isShow)
        {
            isShow = false;
            passwordInputIcon = Icons.Material.Filled.VisibilityOff;
            passwordInput = InputType.Password;
        }
        else
        {
            isShow = true;
            passwordInputIcon = Icons.Material.Filled.Visibility;
            passwordInput = InputType.Text;
        }
    }
}
