@page "/register"
@using Papyrus.Client.Services.Interfaces
@using Papyrus.Shared.Models
@layout AuthLayout
@inject NavigationManager navigationManager
@inject IAuthService authService

<ApplicationPageTitle PageName="Register"></ApplicationPageTitle>

<div id="panel">
    <MudPaper Class="p-4" Elevation="4">
        <MudText Typo="Typo.h4" Color="Color.Primary">Register</MudText>

        <div id="image">
            <img src="assets/images/main.svg" alt="Main image" />
        </div>

        <MudForm @ref="form">
            <MudTextField T="string" Label="User Name" Variant="Variant.Text" Required="true"
                          For="@(() => Model.UserName)" @bind-Value="Model.UserName" FullWidth="true">
            </MudTextField>
            <MudTextField T="string" Label="E-mail" Variant="Variant.Text" Required="true" For="@(() => Model.Email)"
                          @bind-Value="Model.Email" FullWidth="true">
            </MudTextField>
            <MudTextField T="string" Label="Password" Variant="Variant.Text" InputType="@passwordInput"
                          Adornment="Adornment.End" AdornmentIcon="@passwordInputIcon" OnAdornmentClick="SwitchPasswordVisibility"
                          Required="true" For="@(() => Model.UserName)" @bind-Value="Model.Password" FullWidth="true">
            </MudTextField>
            <MudTextField T="string" Label="Full Name" Variant="Variant.Text" For="@(() => Model.FullName)"
                          @bind-Value="Model.FullName" FullWidth="true">
            </MudTextField>
            <div class="text-center mt-3 mb-3">
                <MudButton Color="Color.Primary" Class="mt-3" Variant="Variant.Filled" OnClick="Submit"
                           StartIcon="@Icons.Filled.PersonAdd">
                    Sign Up
                </MudButton>
            </div>
            <MudDivider />
            <div class="text-center mt-3">
                <MudButton Color="Color.Secondary" Variant="Variant.Text" OnClick="ToLogin"
                           StartIcon="@Icons.Filled.Login">Login</MudButton>
            </div>
        </MudForm>
    </MudPaper>
</div>

@code {
    MudForm? form;

    private RegistrationModel Model { get; set; } = new();

    private bool isShow;
    private string passwordInputIcon = Icons.Filled.VisibilityOff;
    private InputType passwordInput = InputType.Password;

    private async void Submit()
    {
        if (form is null)
        {
            return;
        }

        await form.Validate();
        if (!form.IsValid) return;
        if (await authService.Register(Model))
        {
            navigationManager.NavigateTo("/login");
        }
    }

    private void ToLogin()
    {
        navigationManager.NavigateTo("/login");
    }

    private void SwitchPasswordVisibility()
    {
        if (isShow)
        {
            isShow = false;
            passwordInputIcon = Icons.Filled.VisibilityOff;
            passwordInput = InputType.Password;
        }
        else
        {
            isShow = true;
            passwordInputIcon = Icons.Filled.Visibility;
            passwordInput = InputType.Text;
        }
    }

}