@page "/about"
@using Papyrus.Client.Utils
@inject IStringLocalizer<About> L

<ApplicationPageTitle PageName="@L["PageName"]" />

<div class="page-body">
    <MainImage Width="500" />

    <MudPaper Class="p-3" Elevation="2">
        <MudText Align="Align.Justify" Typo="Typo.body1">@L["Row1"].AsMarkup()</MudText>
        <MudText Align="Align.Justify" Typo="Typo.body1">@L["Row2"].AsMarkup()</MudText>
        <div class="mt-5 d-flex flex-row gap-4 justify-content-center">
            <MudIconButton Size="Size.Small" Icon="@Icons.Material.Filled.Web" />
            <MudIconButton Size="Size.Small" Icon="@Icons.Material.Filled.Web" />
            <MudIconButton Size="Size.Small" Icon="@Icons.Material.Filled.Web" />
        </div>
        <MudText Class="mt-5" Align="Align.Justify" Typo="Typo.body1">@L["Copyright"].AsMarkup()</MudText>
    </MudPaper>
</div>
