@page "/home"
@using Papyrus.Client.Services.Auth.Interfaces
@using Papyrus.Client.Utils
@inject NavigationManager NavigationManager
@inject IAuthService Auth
@inject IStringLocalizer<Home> L

<ApplicationPageTitle PageName="@L["PageName"]" />

<div class="page-body">
    <div class="left-part">
        <div id="welcome">
            <MudText Typo="Typo.h3" Color="Color.Primary">
                @L["WelcomeText"].AsMarkup()
            </MudText>
        </div>
        <div id="posts">
            <div class="d-flex flex-row align-items-center gap-1">
                <MudIcon Icon="@Icons.Filled.Article" Size="Size.Small" Color="Color.Primary" />
                <MudText Typo="Typo.h5" Color="Color.Primary">@L["PostsTitle"]:</MudText>
            </div>
            <div id="post-list" class="pl-5 pr-5">
                <RecentPostList />
            </div>
        </div>
    </div>
    <div class="right-part">
        <div id="main-image">
            <MainImage Width="380" Class="mb-5" />
        </div>
        <div id="main-links" >
            <MudGrid Spacing="2">
                @if (!Auth.IsLoggedIn())
                {
                    <HomeLinkBox Text="@L["LoggedOutText"]" ButtonText="@L["SignIn"]" OnClick="@(() => Redirect("/login"))" />
                    <HomeLinkBox Text="@L["NotRegisteredText"]" ButtonText="@L["SignUp"]" OnClick="@(() => Redirect("/register"))" />
                }
                else
                {
                    <HomeLinkBox Text="@L["LoggedInText"]" ButtonText="@L["Dashboard"]" OnClick="@(() => Redirect("/dashboard"))" />
                }
                <HomeLinkBox Text="@L["SearchText"]" ButtonText="@L["Search"]" OnClick="@(() => Redirect("/search"))" />
            </MudGrid>
        </div>
    </div>
</div>

@code {
    private void Redirect(string path)
    {
        NavigationManager.NavigateTo(path);
    }
}
