@page "/home"
@using Papyrus.Client.Services.Auth.Interfaces
@using Papyrus.Client.Utils
@inject NavigationManager NavigationManager
@inject IAuthService Auth
@inject IStringLocalizer<Home> L

<ApplicationPageTitle PageName="Home"></ApplicationPageTitle>

<div class="page-body">
    <MainImage Width="500" Class="mb-5" />

    @if (!Auth.IsLoggedIn())
    {
        <MudText Typo="Typo.body2" Class="mb-5">@L["LoggedOutText"].AsMarkup()</MudText>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="@(() => Redirect("/login"))">@L["SignIn"]</MudButton>
    }
    else
    {
        <MudText Typo="Typo.body2" Class="mb-5">@L["LoggedInText"].AsMarkup()</MudText>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="@(() => Redirect("/dashboard"))">@L["Dashboard"]</MudButton>
    }

</div>

@code {
    private void Redirect(string path)
    {
        NavigationManager.NavigateTo(path);
    }
}
