@page "/my"
@using Papyrus.Shared.Helpers
@attribute [Authorize]

<PageTitle>My User</PageTitle>

<div class="page-div">

    @if (User is not null)
    {

        <div class="mb-3">
            <MudButton Color="Color.Secondary" Variant="Variant.Filled" OnClick="Edit">Edit</MudButton>
            <MudButton Color="Color.Secondary" Variant="Variant.Filled" OnClick="ChangeImage">Change Image</MudButton>
            <MudButton Color="Color.Warning" Variant="Variant.Filled" OnClick="ChangePassword">Change Password</MudButton>
        </div>
        @if (User.ImageData.Length != 0 && Image is not null)
        {
            <div class="p-2 text-center">
                <img src="@Image" alt="@User.ImageTitle" height="360" width="360" />
            </div>
        }
        <div>
            <MudText Typo="Typo.body1" Color="Color.Primary">
                <b>User Name:</b>
            </MudText> @User.UserName
        </div>
        <div>
            <MudText Typo="Typo.body1" Color="Color.Primary">
                <b>E-mail address:</b>
            </MudText> @User.Email
        </div>
        <div>
            <MudText Typo="Typo.body1" Color="Color.Primary">
                <b>Full Name:</b>
            </MudText> @WriteHelper.WriteEmptyableField(User.FullName)
        </div>
        <div>
            <MudText Typo="Typo.body1" Color="Color.Primary">
                <b>Last Login:</b>
            </MudText> @DateHelper.DateToString(User.LastLogin)
        </div>
        <div>
            <MudText Typo="Typo.body1" Color="Color.Primary">
                <b>Registration:</b>
            </MudText> @DateHelper.DateToString(User.Registration)
        </div>
        <div>
            <MudText Typo="Typo.body1" Color="Color.Primary">
                <b>Birthday:</b>
            </MudText> @DateHelper.DateToString(User.BirthDay)
        </div>
    }

</div>