@page "/search"
@using Papyrus.Client.Services.Notes.Interfaces
@using Papyrus.Client.Services.Auth.Interfaces
@inject IStringLocalizer<Search> L
@inject INoteService NoteService
@inject IAuthService Auth

<ApplicationPageTitle PageName="@L["PageName"]" />

<div class="page-div">
    <ActionBar>
        <ChildContent>
            <InfoButton Text="@L["Info"]" />
            <div>
                <TextInput Style="width: 440px;" Label="@L["Filter.Text"]" @bind-Value="QueryModel.Text" />
            </div>
            <Checkbox Label="@L["Filter.Tag"]" @bind-Checked="QueryModel.IncludeTags" />
            <Checkbox Label="@L["Filter.Content"]" @bind-Checked="QueryModel.IncludeContents" />

            @if (OnlyPublicAvailable)
            {
                <Checkbox Label="@L["Filter.Public"]" @bind-Checked="QueryModel.OnlyPublics" />
            }
            <MudSpacer />
            <div>
                <IntervalInput Style="width: 300px;" Label="@L["Filter.Interval"]" Clearable="true" @bind-DateRange="Range" />
            </div>
        </ChildContent>
        <OtherRows>
            <div class="mt-2 text-center w-25" style="margin: auto;">
                <MudButton FullWidth="true" Variant="Variant.Filled" Color="Color.Primary" OnClick="DoSearch" Disabled="Loading || string.IsNullOrEmpty(QueryModel.Text)">@L["Search"]</MudButton>
            </div>
        </OtherRows>
    </ActionBar>
    <div>
        @if (Loading) {
            <Loader />
        } else {
            <div class="d-flex flex-column justify-content-center align-items-center gap-3 w-100">
                @foreach (var r in ResultList)
                {
                    <SearchResultTile SearchResult="r" />
                }
            </div>
        }
    </div>
</div>
